<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask AJAX Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ url_for('static', filename='font/RobotoMono-Medium.ttf')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='font/MountainsofChristmas-Regular.ttf')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='font/Roboto-Light.ttf')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} " />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item">
            <pre>
   *        *        *        __o    *       *
*      *       *        *    /_| _     *
    K  *     K      *        O'_)/ \  *    *
    <')____  <')____    __*   V   \  ) __  *
    \ ___ )--\ ___ )--( (    (___|__)/ /*     *
    *  |   |    |   |  * \ \____| |___/ /  *
       |*  |    |   | aos \____________/       *  
            </pre>

        </div>
        <div class="grid-item">
            <h1 class="roboto-light">XMAS LOTTERY</h1>
            <h2>Bevismiddeltilsynet & Politiklagemyndigheden</h2>
        </div>
        <div class="grid-item">
            <pre>
   /\  /\    ___  _ __  _ __ __    __
  /  \/  \  / _ \| '__|| '__|\ \  / /
 / /\  /\ \|  __/| |   | |    \ \/ /
 \ \ \/ / / \___/|_|   |_|     \  /
                               / /
__  __                        /_/    _
\ \/ /        /\  /\    __ _  ____  | |
 \  /   __   /  \/  \  / _` |/ ___\ |_|
 /  \  |__| / /\  /\ \| (_| |\___ \  _
/_/\_\      \ \ \/ / / \__,_|\____/ |_|
            </pre>
        </div>
        <div class="grid-item">
<pre>
       ____
     {} _  \
        |__ \
       /_____\
       \o o)\)_______
       (<  ) /#######\
     __{'~` }#########|
    /  {   _}_/########|
   /   {  / _|#/ )####|
  /   \_~/ /_ \  |####|
  \______\/  \ | |####|
   \__________\|/#####|
    |__[X]_____/ \###/ 
    /___________\
     |    |/    |
     |___/ |___/
    _|   /_|   /
   (___,_(___,_)
</pre>


        </div>
        <div class="grid-item">
            <div id="current"></div>
        </div>
        <div class="grid-item">
                        <pre>
                <code>
         |
        -+-
         A
        /=\            
      i/ O \i          
      /=====\          
      /  i  \          
    i/ O * O \i        
    /=========\        
    /  *   *  \        
  i/ O   i   O \i      
  /=============\      
  /  O   i   O  \      
i/ *   O   O   * \i
/=================\
       |___|
                </code>
            </pre>
        </div>
        <div class="grid-item">7</div>
        <div class="grid-item">
            <button id="sendButton">Send via AJAX</button>
            <button id="clear">clear</button>
        </div>
        <div class="grid-item">9</div>
        <div class="grid-item">9</div>
        <div class="grid-item">

    <div style="display: flex;">
        <div id="numbers">
        </div>
        <input type="hidden" id="inputText" placeholder="Enter something">
    </div>
        </div>
        <div class="grid-item">

        </div>

    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
